# Default ignored files
/workspace.xml

/home/ubuntu/IdeaProjects/HackerRank/.idea/description.html
/home/ubuntu/IdeaProjects/HackerRank/.idea/encodings.xml
/home/ubuntu/IdeaProjects/HackerRank/HackerRank.iml
/home/ubuntu/IdeaProjects/HackerRank/.idea/misc.xml
/home/ubuntu/IdeaProjects/HackerRank/.idea/modules.xml
/home/ubuntu/IdeaProjects/HackerRank/.idea/project-template.xml
/home/ubuntu/IdeaProjects/HackerRank/.idea/vcs.xml